<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="navbar">
			<a href="/">&ltHome&gt</a>
			<a class="active" href="/about">&ltAbout&gt</a>
			<a href="/team">&ltThe Team&gt</a>
            <a href="/contact">&ltContact&gt</a>
		</div>
        <h1>About Us</h1>
        <p>Shovel Ant is a revolutionary new blah blah blah blah</p>
    </body>
</html>