<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/blob.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"></script>
    </head>
    <body>
        <div class="navbar">
			<a href="/">&ltHome&gt</a>
			<a class="active" href="/about">&ltAbout&gt</a>
			<a href="/team">&ltThe Team&gt</a>
            <a href="/contact">&ltContact&gt</a>
            <a href="/wordant">&ltWordant&gt</a>
		</div>
        <h1>About Us</h1>
        <p><span onclick="blob()">Shovel Ant</span> is a revolutionary new blah blah blah blah</p>
        <canvas id="canvas"></canvas>
    </body>
</html>