<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="navbar">
			<a href="/">&ltHome&gt</a>
			<a href="/about">&ltAbout&gt</a>
			<a href="/team">&ltThe Team&gt</a>
            <a class="active" href="/contact">&ltContact&gt</a>
            <a href="/wordant">&ltWordant&gt</a>
		</div>
        <h1>Contact Us</h1>
        <p>Good luck LOL</p>
        <p>Wait we have a <a href="https://www.twitter.com/shovelant">Twitter</a></p>
    </body>
</html>