<!DOCTYPE html>
<html>
    <head>
        <title>Shovel Ant</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Shovel Ant</h1>
        <p>Shovel ant. Ant shovel. Ants. Shovels. Shants. Anvels. <span style="color:gray">// TODO: Add dark mode</span></p>
        <a href="/team">Meet the team</a>
    </body>
</html>