<!DOCTYPE html>
<html>
    <head>
        <title>Shovel Ant</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="navbar">
			<a class="active" href="/">&ltHome&gt</a>
			<a href="/about">&ltAbout&gt</a>
			<a href="/team">&ltThe Team&gt</a>
            <a href="/contact">&ltContact&gt</a>
            <a href="/wordant">&ltWordant&gt</a>
		</div>
        <h1>Shovel Ant</h1>
        <h2>Shovel ant. Ant shovel. Ants. Shovels. Shants. Anvels.</p>
    </body>
</html>