<!DOCTYPE html>
<html>
    <head>
        <title>Shovel Ant</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>The Team</h1>
        <ul>
            {{#each people}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <a href="/">Return home</a> 
    </body>
</html>