<!DOCTYPE html>
<html>
    <head>
        <title>The Team</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="navbar">
			<a href="/">&ltHome&gt</a>
			<a href="/about">&ltAbout&gt</a>
			<a class="active" href="/team">&ltThe Team&gt</a>
            <a href="/contact">&ltContact&gt</a>
		</div>
        <h1>Meet the Team</h1>
        <ul>
            {{#each people}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Unpaid Interns</p>
        <ul>
            <li>Joseph</li>
        </ul>
    </body>
</html>