<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>The Team (in no particular order)</h1>
        <ul>
            <li>Brad</li>
            <li>Gabe</li>
            <li>Iggy</li>
            <li>Nico</li>
            <li>Onur</li>
        </ul> 
    </body>
</html>