<!DOCTYPE html>
<html>
    <head>
        <title>Wordant</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/wordant.css">
        <script src="js/wordant.js"></script>
    </head>
    <body>
        <div class="navbar">
			<a href="/">&ltHome&gt</a>
			<a href="/about">&ltAbout&gt</a>
			<a href="/team">&ltThe Team&gt</a>
            <a href="/contact">&ltContact&gt</a>
            <a class="active" href="/wordant">&ltWordant&gt</a>
		</div>
        <h1>Wordant</h1>
        <div id="guesses">
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
            <div class="guess">_____</div>
        </div>
        <div id="endgame" hidden></div>
        <div id="keyboard">
            <div class="row">
                <div class="key" onclick="key('q')">&ltq&gt</div>
                <div class="key" onclick="key('w')">&ltw&gt</div>
                <div class="key" onclick="key('e')">&lte&gt</div>
                <div class="key" onclick="key('r')">&ltr&gt</div>
                <div class="key" onclick="key('t')">&ltt&gt</div>
                <div class="key" onclick="key('y')">&lty&gt</div>
                <div class="key" onclick="key('u')">&ltu&gt</div>
                <div class="key" onclick="key('i')">&lti&gt</div>
                <div class="key" onclick="key('o')">&lto&gt</div>
                <div class="key" onclick="key('p')">&ltp&gt</div>
            </div>
            <div class="row">
                <div class="key" onclick="key('a')">&lta&gt</div>
                <div class="key" onclick="key('s')">&lts&gt</div>
                <div class="key" onclick="key('d')">&ltd&gt</div>
                <div class="key" onclick="key('f')">&ltf&gt</div>
                <div class="key" onclick="key('g')">&ltg&gt</div>
                <div class="key" onclick="key('h')">&lth&gt</div>
                <div class="key" onclick="key('j')">&ltj&gt</div>
                <div class="key" onclick="key('k')">&ltk&gt</div>
                <div class="key" onclick="key('l')">&ltl&gt</div>
            </div>
            <div class="row">
                <div class="key" onclick="enter()">&ltenter&gt</div>
                <div class="key" onclick="key('z')">&ltz&gt</div>
                <div class="key" onclick="key('x')">&ltx&gt</div>
                <div class="key" onclick="key('c')">&ltc&gt</div>
                <div class="key" onclick="key('v')">&ltv&gt</div>
                <div class="key" onclick="key('b')">&ltb&gt</div>
                <div class="key" onclick="key('n')">&ltn&gt</div>
                <div class="key" onclick="key('m')">&ltm&gt</div>
                <div class="key" onclick="back()">&ltback&gt</div>
            </div>
        </div>
    </body>
</html>